body{
    height: 700px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* ====== FONT SIZE ====== */

.font-12{
    font-size: 1.2em;
}

.font-11{
    font-size: 1.1em;

}

.font-10{
    font-size: 1.0em;
}

.font-9{
    font-size: 0.9em;
}

.font-8{
    font-size: 0.85em;
}

/* ====== FONT COLOR ======= */

.text-cin{
    color: #444
}

.text-cinza{
    color: #47474747;
}
.text-red{
    color: #f38fa6;
}


/* ====== BACKGRAUND ======= */
.bg-orange{
    background: #eb8256;
    color: white !important;
}

.bg-blue{
    background: #5bcc95;
}

.bg-green{
    background: #3da69a;
}

.bg-light{
    background: #F2F2F2;
}

.bg-gray-light{
    background: #D9D9D9;
}

.bg-dark{
    background: rgba(255, 255, 255, 0.2)  !important;
}

.bg-gray{
    background: #5D6473 !important;
}

.bg-dark-gray{
    background: #343A40;
}

.bg-blue-light{
    background: #72B5A4;
}

.bg-pink-light{
    background: #F79A87;
}

.bg-pink{
    background: #F15E5E;
}

/*
    ===== Index =====
 */   
 
    .img{
        width: 20%;
    }
    
    .input-login{
        outline: none !important;
        border-bottom: #4bc9b7 2px solid !important;
    }
    
    .btn-login{
        font-size: 1em !important;
        letter-spacing: 1px;
        /* background: #72B5A4; */
    }
    
    
/* 
======= HEADER =====
*/
    
    .topo{
        border-bottom: 1px solid #eee;
    }
    
    .menu{
        min-height: 700px;
        border-right: 1px solid #eee
    }
    .img-logo{
        max-width: 200px;
    }

    .icon-n{
        color: #95cfa9;
    }

    .icon-l{
    padding: 2px;   
    }

    .far, .fas,.fa{
        cursor: pointer;
    }

   

    .list-group-item:hover{
        color: #eb8256 !important;
    }
    .icon-topo:hover{
        color: #eb8256 !important;
    }

   

    .input-orange{
        border: 1px solid #eb8256;
    }



/*
    ====== FOOTER =====
*/

.footer{
    width: 100%;
    bottom: 0;
}

.footer-topo{
    border-top: 1px solid #eee;
}

/* 
    ===== HOME =====
*/

.card-informativo p{
    font-size: 0.8em;
}

.card-informativo a{
    font-size: 0.82em;
}

.shadow{
    background-color: rgba(0,0,0, 0.1)
}

.meta-text p{
  
    color: #666666;
}

.meta-text h6{
    color: #444;
     
}

.meta-text a{
    font-size: 0.82em;
}


/*
===== MORADORES =====
*/
