body{
    height: 700px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.font-12{
    font-size: 1.2em;
}

.font-11{
    font-size: 1.1em;

}

.font-10{
    font-size: 1.0em;
}

.font-9{
    font-size: 0.9em;
}

.font-8{
    font-size: 0.85em;
}

.text-cin{
    color: #444
}

.text-cinza{
    color: #666666;
}






/*
    ===== Index =====
 */   

 
 
 .bg{
     background: #dedede; 
    }
    
    .img{
        width: 20%;
    }
    
    .input-login{
        outline: none !important;
        border-bottom: #4bc9b7 2px solid !important;
    }
    
    .btn-login{
        background: #4bc9b7;
        font-size: 1em !important;
        letter-spacing: 1px;
    }
    
    
/* 
======= HEADER =====
*/
    
    .topo{
        border-bottom: 1px solid #eee;
    }
    
    .menu{
        min-height: 700px;
        border-right: 1px solid #eee
    }
    .img-logo{
        max-width: 150px;
    }

    .text-cinza{
        color: #474747
    }

    .icon-n{
        color: #95cfa9;
    }

    .icon-l{
    padding: 2px;   
    }

    .font-s{
        font-size: 0.9em;
    }
    .far, .fas,.fa{
        cursor: pointer;
    }

    .purple{
        color: #e0a6ff;
    }

    .green{
        color: #3a9c8d;
    }

    .light-blue{
        color: #4bcfea;
    }

    .red{
        color: #f38fa6;
    }

    .list-group-item:hover{
        color: #eb8256 !important;
    }
    .icon-topo:hover{
        color: #eb8256 !important;
    }

    .orange{
        color: #eb8256 !important;
    }

    .bg-orange{
        background: #eb8256;
        color: white !important;
    }

    .input-orange{
        border: 1px solid #eb8256;
    }



/*
    ====== FOOTER =====
*/

.footer{
    width: 100%;
    bottom: 0;
}

.footer-topo{
    border-top: 1px solid #eee;
}

/* 
    ===== HOME =====
*/

.card-informativo p{
    font-size: 0.8em;
}

.card-informativo a{
    font-size: 0.82em;
}

.shadow{
    background-color: rgba(0,0,0, 0.1)
}

.meta-text p{
  
    color: #666666;
}

.meta-text h6{
    color: #444;
     
}

.meta-text a{
    font-size: 0.82em;
}




